body {
  background: url("assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.custom-font {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  font-weight: 500;
}